pyrightconfig.json
.python-version
__pycache__/
*.pyc
.ipynb_checkpoints

.DS_Store

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
wandb/
.venv/

.checkpoints/

